<%- model_class = ApplicationProcess -%>
<div class="page-header">
  <h1>Forward: <%= @application.form.title%></h1>
</div>
<%= simple_form_for @application_process, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :application_form_id, :as => :hidden %>
  <%= f.input :refferer_id, :as => :hidden %>
  <%= f.input :last_process_id, :as => :hidden %>
  <%= f.input :status, :as => :hidden %>
  <%= f.association :reffer_to, :collection => User.where(:role => [5, 10]), :label => "Forward To" %>
  <%= f.input :purpose %>
  <%= f.input :message, :input_html => {:size => "60x6"} %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                application_processes_path, :class => 'btn' %>
  </div>
<% end %>
