<div class="page-header">
  <h1>History</h1>
</div>
<% if @applications.size > 0%>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Applied for</th>
    <th>Submit Date</th>
	<th>Tracking Number</th>
    <th>Status</th>
    <th style="width: 250px;">Comments</th>
  </tr>
  </thead>
  <tbody>
  <% sr = 0 %>
  <% @applications.each do |application| %>
      <tr>
        <td><%= application.form.title %></td>
        <td><%= application.created_at.strftime("%d %b %Y") %></td>
		<td><%= application.tracking_id %></td>
        <td><%= get_status_name(application.status) %></td>
        <td>
			<% if application.status == 10 %>
			<%= application.application_processes.last.message %>
			<% end %>
		</td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<%= not_found_message%>
<% end %>
