<div class="page-header">
  <h1>ToDo List <span style ="font-size:normal; font-size: 11px; color:red">Action Required(<%= @processes.size %>)</span></h1>
</div>
<% if @processes.size > 0%>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Applicant Name</th>
    <th>Applicant ID</th>
	<th>Application Type</th>
    <th>Submitted AT</th>
	<th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% sr = 0 %>
  <% @processes.each do |process| %>
      <tr>
        <td><%= process.user.name  %></td>
		<td><%= process.user.official_id  %></td>
		<td><%= process.form.title %></td>
        <td><%= process.created_at %></td>
		<td><%= link_to "Details", {:controller => "staff", :action => "init_application_details", :id => process.id}, :class => "btn btn-mini" %>
		</td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<%= not_found_message%>
<% end %>