<%= simple_form_for @form, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :sub_title %>
  <%= f.input :requirements, :input_html => {:size => '60x5'} %>
  <%= f.input :description, :input_html => {:size => '60x5'} %>
  <%= f.input :note, :input_html => {:size => '60x5'} %>
  <%= f.input :last_date, :input_html => { :class => "date-values"} %>
  <% @item_sr = 1 %>
  <%= f.fields_for :form_fields do |fields| %>
        <%= render "form_field_fields", f:fields %>
        <% @item_sr +=1 %>
  <% end %>
  <%= link_to_nested_model "Add Item", f, :form_fields %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                forms_path, :class => 'btn' %>
  </div>
<% end %>
